.popup {
	display: flex;
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	justify-content: center;
	background-color: rgba(33, 33, 32, 0.6);
	visibility: hidden;
	opacity: 0;
	transition:
		opacity 0.3s,
		visibility 0s 0.3s;
}

.popup_open {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s;
}

.popup__container {
	width: calc(375px - 40px);
	align-self: center;
	position: relative;
	background-color: transparent;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.popup__header {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.popup__header-title {
	text-align: center;
	color: #141516;
	line-height: 21px;
	margin: 0;
	padding: 12px 0;
	background-color: #fff;
	border-radius: 12px;
	font-family: 'Open Sans';
	font-size: 20px;
	font-style: italic;
	font-weight: 800;
	text-transform: uppercase;
}

.popup__button-container {
	background-color: #fff;
	border-radius: 12px;
	padding: 20px;
	margin: 0 auto;
}

.popup__button {
	width: 296px;
	padding: 12px 0;
	margin: 0 auto;
	border: none;
	border-radius: 12px;
	color: #212120;
	background: #c2ff5d;
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 800;
	font-style: italic;
	line-height: 19px;
	cursor: pointer;
	text-transform: uppercase;
}

.popup__message-block {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 12px;
	padding: 41px 20px;
}

.popup__message {
	margin: 0;
	text-align: center;
	font-family: 'Open Sans';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	color: #212120;
}
