.training-card {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 50px;
	background-color: #e0e0e5;
	padding: 20px;
	gap: 12px;
	border-radius: 8px;
	margin-bottom: 8px;
}

.training-card:last-of-type {
	margin-bottom: 0;
}

.training-card__container {
	display: flex;
	justify-content: space-between;
}

.training-card__container:nth-of-type(2) {
	padding-bottom: 12px;
	border-bottom: 1px solid #c3c3cc;
}

.training-card__title {
	font-family: Open Sans;
	font-size: 16px;
	font-style: italic;
	font-weight: 800;
	line-height: 17.6px;
	text-transform: uppercase;
}

.training-card__reminder {
	background: none;
	background-repeat: no-repeat;
	background-position: center;
	height: 24px;
	width: 24px;
	background-image: url(./bell.svg);
}

.training-card__reminder_active {
	background-image: url(./bellActive.svg);
}

/* .training-card__button {
	background: none;
	border: none;
	outline: none;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #3b3a2d;
	cursor: pointer;
	height: 24px;
	width: 24px;
} */

/* background: none;
border: none;
outline: none;
background-image: url(../../images/find-item.svg);
background-repeat: no-repeat;
background-position: center;
height: 34px;
width: 34px;
border-radius: 50%;
background-color: #3B3A2D;
background-color: rgb(224, 79, 79);
cursor: pointer;
position: absolute;
right: 7px;
top: 7px; */
