.training-card {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 50px;
	background-color: #e0e0e5;
	padding: 20px;
	gap: 12px;
	border-radius: 8px;
	margin-bottom: 8px;
}

.training-card:last-of-type {
	margin-bottom: 0;
}

.training-card__container {
	display: flex;
	justify-content: space-between;
}

.training-card__container_missed {
	color: var(--new-dark-gray, #898989);
}

.training-card__info-container {
	display: flex;
	justify-content: space-between;
	padding-bottom: 12px;
	border-bottom: 1px solid #c3c3cc;
}

.training-card__inf-container_missed {
	color: var(--new-dark-gray, #898989);
}

.training-card__info-container_completed {
	padding-bottom: 0;
	border-bottom: none;
}

.training-card__title {
	font-family: Open Sans;
	font-size: 16px;
	font-style: italic;
	font-weight: 800;
	line-height: 17.6px;
	text-transform: uppercase;
}

.training-card__title_missed {
	color: var(--new-dark-gray, #898989);
}

.training-card__reminder {
	background: none;
	background-repeat: no-repeat;
	background-position: center;
	height: 24px;
	width: 24px;
	background-image: url(./bell.svg);
}

.training-card__reminder_active {
	background-image: url(./bellActive.svg);
}

.training-card__reminder_missed {
	background-image: none;
}
