.page-container {
	width: 100%;
	margin: 0 auto;
	background-color: var(--color-black);
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-bottom: 4px;
}

.train-remainder__wrap {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
