.page-container {
	width: 100%;
	margin: 0 auto;
	background-color: #000;
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.train-remainder__wrap {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
