.modal {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
}

.modal__container {
	color: #fff;
	max-width: 495px;
	min-width: 329px;
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal_opened {
	display: flex;
	visibility: visible;
	opacity: 1;
	transition:
		visibility 0s,
		opacity 0.5s ease-in;
	z-index: 1;
}
