.header {
	width: calc(100% - 8px);
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	gap: 4px;
}
.header__logo {
	text-align: left;
	color: #2349ff;
	font-family: 'Fyodor';
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin: 0;
	margin-top: 8px;
	padding: 16px 20px;
	background-color: #fff;
	border-radius: 12px;
}

.header__title {
	text-align: left;
	color: #141516;
	font-family: 'Fyodor';
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin: 0;
	padding: 16px 20px;
	background-color: #fff;
	border-radius: 12px;
}
