.header {
	width: calc(100% - 8px);
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	gap: 4px;
}

.header__title {
	text-align: left;
	color: #141516;
	line-height: 21px;
	margin: 0;
	padding: 20px;
	background-color: #fff;
	border-radius: 12px;
	font-family: 'Open Sans';
	font-size: 20px;
	font-style: italic;
	font-weight: 800;
	text-transform: uppercase;
	/* margin-top: 8px; */ 
	/* в RegisterPage этот margin был нужен */
}
