.input {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;

	&__name {
		position: absolute;
		/* top: 50%;
    transform: translateY(-50%); */
		margin: 0;
		color: var(--color-gray-shadow);
		font-family: 'Retni Sans';
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 34px;
		letter-spacing: -0.16px;
	}

	&__input {
		width: 100%;
		padding: 8px 0px 14px 0px;
		border: none;
		background-color: transparent;
		border-bottom: 1px solid var(--color-gray-shadow);
		//TODO в Safari закругляются инпуты
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		z-index: 1;
		position: inherit;
		font-family: 'Retni Sans';
		font-size: 16px;
	}

	&__error {
		border-bottom: 1px solid var(--color-error);
	}

	&__input:focus + &__input-name {
		display: none;
	}

	&__input:focus {
		outline: none;
	}

	&__span {
		top: -8px;
		width: 8px;
		height: 8px;
		position: relative;
	}

	&__texterror {
		margin-top: 8px;
		width: fit-content;
		color: var(--color-error);
		font-family: 'Retni Sans';
		font-size: 12px;
		font-weight: 400;
		line-height: 105%; /* 12.6px */
	}

	&__hidebutton {
		width: 24px;
		height: 24px;
		border: none;
		background-color: transparent;
		background-image: cover;
		position: absolute;
		z-index: 99;
		margin: 0;
		transform: translateY(25%);
		right: 0;
		cursor: pointer;
	}
}

input[type='password'] {
	font-family: 'Retni Sans';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 2px;
}
