.container {
	margin: 0 auto;
	padding-left: 24px;
	padding-right: 24px;
	width: 100%;
}

.footer {
	font-family: 'Retni Sans';
	font-size: 11px;
	font-weight: 500;
	line-height: 1;
	background-color: var(--color-light-bg);
	width: 100%;
	position: fixed;
	bottom: 0px;
	z-index: 1;

	&__wrap {
		margin: 0;
		width: 100%;
		box-sizing: border-box;
		border-radius: 12px 12px 0 0;
		padding-top: 14px;
		padding-bottom: 35px;
		padding-left: 18px;
		padding-right: 18px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border: none;
		background: transparent;
	}

	&__text {
		margin-top: 4px;
		color: var(--color-dark-grey);
	}

	&__text_active {
		margin-top: 4px;
		color: var(--color-black);
	}
}
