.register__input-element {
	display: flex;
	flex-direction: column;
	margin: 0 0 18px;
}

.register__input {
	padding: 8px 0px;
	border: none;
	border-bottom: 1px solid #c3c3cc;
	background-color: transparent;
	z-index: 1;
	position: inherit;
}

.register__input_error {
	border-bottom: 1px solid #F94C4C;
}

.register__input:focus {
	outline: none;
	border-bottom: 1px solid #04091F;
}

.register__error {
	color: #f94c4c;
	margin: 8px 0;
}

.register__placeholder {
	position: absolute;
	color: #c3c3cc;
	font-family: Manrope;
	font-size: 16px;
	font-weight: 500;
	line-height: 34px;
}
