.register__form {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.register__input-container {
	background-color: var(--color-white);
	padding: 0 20px 32px;
	gap: 24px;
	display: flex;
	flex-direction: column;
}

.register__button-container {
	background-color: var(--color-white);
	border-radius: 12px;
	padding: 20px;
	display: flex;
	justify-content: center;
}

.register__button {
	width: 319px;
	padding: 12px 0;
	margin: 0 auto;
	border: none;
	border-radius: 12px;
	color: var(--color-black);
	background: var(--color-green);
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 800;
	font-style: italic;
	line-height: 19px;
	cursor: pointer;
	text-transform: uppercase;
}

.register__button_unvalid {
	color: var(--color-dark-grey);
	background: var(--color-gray-light);
	cursor: default;
}
