.training__checkbox-element {
	/* margin: 4px 0; */
	display: flex;
	/* max-height: 38px; */
	position: relative;
	align-items: center;
	color: var(--new-txt-black, #212120);
	justify-content: space-between;

	/* new mob/body */
	font-family: Open Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 22.4px */
	letter-spacing: -0.16px;
}

.training__checkbox {
	height: 0;
	width: 0;
	/* flex-basis: 42px; */
	/* margin: 7px 8px 7px 0; */
}

.training__checkmark {
	/* position: absolute;
	top: 0;
	left: 0; */
	width: 24px;
	height: 24px;
	/* margin: 7px 8px 7px 0; */
	border: solid 1px #212120;
	border-radius: 4px;
	user-select: none;
}

.training__checkbox:checked ~ .training__checkmark:after {
	display: block;
}

.training__checkmark:after {
	content: url(./checkmarkImg.svg);
	position: absolute;
	display: none;
	right: -3px;
	width: 24px;
	height: 24px;
}
