.training__checkbox-element {
	display: flex;
	position: relative;
	align-items: center;
	color: var(--color-black);
	justify-content: space-between;
	font-family: Open Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 140%; /* 22.4px */
	letter-spacing: -0.16px;
}

.training__checkbox {
	height: 0;
	width: 0;
}

.training__checkmark {
	width: 24px;
	height: 24px;
	border: solid 1px var(--color-black);
	border-radius: 4px;
	user-select: none;
}

.training__checkbox:checked ~ .training__checkmark:after {
	display: block;
}

.training__checkmark:after {
	content: '.' url(./checkmarkImg.svg);
	position: absolute;
	display: none;
	top: -0.5px;
	right: 0.5px;
	width: 24px;
	height: 24px;
	background-color: var(--color-green);
	border: solid 1px var(--color-green);
	border-radius: 4px;
	color: var(--color-green);
}
