.training__checkbox-element {
	padding: 16px;
	border-radius: 12px;
	border: 1px solid var(--color-gray-light);
	background: var(--color-light-bg);
	display: grid;
	row-gap: 11px;
	column-gap: 47px;
	grid-template-columns: min-content auto;
	grid-template-rows: auto auto;
	position: relative;
	align-items: center;
	color: var(--color-black);
	font-family: Retni Sans;
	font-size: 10px;
	font-style: normal;
	font-weight: 500;
	line-height: 130%;
}

.training__checkbox_wrapper {
	position: relative;
	position: relative;
	width: 24px;
	height: 24px;
}

.training__checkbox-text {
	grid-column-start: 1;
	grid-row-start: span 2;
}

.training__checkbox {
	height: 24px;
	width: 24px;
	z-index: 22;
	position: absolute;
	opacity: 0;
}

.training__checkmark {
	width: 24px;
	height: 24px;
	border: solid 1px var(--color-black);
	border-radius: 4px;
	user-select: none;
	display: block;
}

.training__checkbox:checked ~ .training__checkmark {
	background-image: url('./checkbox.svg');
	background-size: 27px 27px;
	background-position: center;
}
