.form__form {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: calc(100% - 8px);
}

.form__input-container {
	width: calc(100% - 40px);
	background-color: #fff;
	border-radius: 12px;
	padding: 28px 20px;
	display: flex;
	flex-direction: column;
}

.form__server-error {
	margin-top: 8px;
	color: #F94C4C
}

.form__recover-pass {
	position: relative;
	background-color: transparent;
	border: none;
	color: #8b8b96;
	font-family: Manrope;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	align-self: flex-end;
	margin-top: 20px;
	margin-bottom: 238px;
}

.form__recover-pass_active {
	color: #2349FF;
	cursor: pointer;
}

.form__button-continer {
	width: calc(100% - 40px);
	background-color: #fff;
	border-radius: 12px;
	padding: 28px 20px;
	display: flex;
}

.form__button {
	width: 271px;
	padding: 12px 24px;
	margin: 0 auto;
	border-radius: 12px;
	background: #2349FF;
	border: none;
	color: #fff;
	font-family: Fyodor;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	cursor: pointer;
}

.form__button_unvalid {
	color: #8b8b96;
	background: #E0E0E5;
	cursor: default;
}
