.form__form {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: 100%;
	padding: 0 20px;
	height: 100%;
	background-color: var(--color-white);
}

.form__input-container {
	width: 100%;
	background-color: var(--color-white);
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.form__server-error {
	margin-top: -8px;
	color: var(--color-error);
}

.form__recover-pass {
	position: relative;
	background-color: transparent;
	border: none;
	line-height: normal;
	align-self: flex-end;
	margin-top: 20px;
	margin-bottom: 32px;
	cursor: pointer;
	color: var(--color-dark-grey);
	font-family: Retni Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 105%;
}

.form__button-continer {
	width: 100%;
	background-color: var(--color-white);
	border-radius: 12px;
	padding: 28px 0;
	display: flex;
}

.form__button {
	width: 100%;
	padding: 12px 24px;
	margin: 0 auto;
	border-radius: 12px;
	background: var(--color-green);
	border: none;
	color: var(--color-white);
	cursor: pointer;
	font-family: Open Sans;
	font-size: 18px;
	font-style: italic;
	font-weight: 800;
	line-height: 105%;
	text-transform: uppercase;
	margin-bottom: 32px;
}

.form__button_unvalid {
	color: var(--color-dark-grey);
	background: var(--color-gray-light);
	cursor: default;
}

.form_div-span {
	display: flex;
	justify-content: center;
	margin-bottom: 32px;
	position: relative;
	padding: 0 20px;
}

.form_span {
	color: var(--color-dark-grey);
	font-family: Retni Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 105%;
	text-align: center;
	z-index: 20;
	width: 50px;
	background-color: var(--color-white);
}

.form_div-span::after {
	width: 100%;
	height: 1px;
	content: '';
	z-index: 9;
	background: var(--color-gray-light);
	position: absolute;
	left: 0;
	top: 50%;
}

.auth-social {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.auth-button {
	display: flex;
	width: 327px;
	height: 45px;
	align-items: center;
	gap: 16px;
	border-radius: 12px;
	border: 1px solid var(--color-gray-shadow);
	background: var(--color-white);
	text-decoration: none;
	justify-content: center;
}

.auth-text {
	color: var(--color-dark-grey);
	font-family: 'Retni Sans';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 105%;
}
