.form__form {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: 100%;
	padding: 0 20px;
	height: 100%;
	background-color: #fff;
}

.form__input-container {
	width: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.form__input-container_reset-pass {
	/* height: 528px; */
}

.form__server-error {
	margin-top: -8px;
	color: #f94c4c;
}

.form__recover-pass {
	position: relative;
	background-color: transparent;
	border: none;
	line-height: normal;
	align-self: flex-end;
	margin-top: 20px;
	margin-bottom: 32px;
	cursor: pointer;
	color: var(--new-dark-gray, #898989);
	font-family: Retni Sans;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 105%; /* 14.7px */
}

.form__button-continer {
	width: 100%;
	background-color: #fff;
	border-radius: 12px;
	padding: 28px 0;
	display: flex;
}

.form__button {
	width: 100%;
	padding: 12px 24px;
	margin: 0 auto;
	border-radius: 12px;
	background: #c2ff5d;
	border: none;
	color: #fff;
	cursor: pointer;
	font-family: Open Sans;
	font-size: 18px;
	font-style: italic;
	font-weight: 800;
	line-height: 105%; /* 18.9px */
	text-transform: uppercase;
	margin-bottom: 32px;
}

.form__button_unvalid {
	color: #8b8b96;
	background: #e0e0e5;
	cursor: default;
}

.form_div-span {
	display: flex;
	justify-content: center;
	margin-bottom: 32px;
	position: relative;
	padding: 0 20px;
}

.form_span {
	color: var(--new-dark-gray, #898989);
	font-family: Retni Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 105%; /* 16.8px */
	text-align: center;
	z-index: 20;
	width: 50px;
	background-color: #fff;
}

.form_div-span::after {
	width: 100%;
	height: 1px;
	content: '';
	z-index: 9;
	background: #e0e0e5;
	position: absolute;
	left: 0;
	top: 50%;
}

.auth-social {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.auth-button {
	display: flex;
	width: 327px;
	height: 45px;
	align-items: center;
	gap: 16px;
	border-radius: 12px;
	border: 1px solid var(--new-gray, #c3c3cc);
	background: var(--new-bg, #fff);
	text-decoration: none;
	justify-content: center;
}

.auth-text {
	color: var(--new-dark-gray, #898989);
	font-family: 'Retni Sans';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 105%;
}
