.register-error {
	max-width: 375px;
	display: flex;
	flex-direction: column;
	background-color: black;
	margin: 0 auto;
	gap: 4px;
	border-radius: 24px;
}

.register-error__block {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: calc(359px - 40px);
	background-color: #fff;
	border-radius: 12px;
	padding: 0 20px;
}

.register-error__title {
	text-align: center;
	margin: 0 0 12px;
	font-family: 'Open Sans';
	font-size: 16px;
	font-style: italic;
	font-weight: 800;
	line-height: 18px;
	text-transform: uppercase;
}

.register-error__img {
	width: 68px;
	height: 68px;
	align-self: center;
	margin: 88px 0 20px;
}

.register-error__message {
	text-align: center;
	margin: 0 0 372px;
	font-family: 'Open Sans';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	color: #898989;
}

.register-error__button-container {
	width: calc(359px - 40px);
	background-color: #fff;
	border-radius: 12px;
	padding: 20px;
	margin: 0 auto 8px;
}

.register-error__button {
	width: 319px;
	padding: 12px 0;
	margin: 0 auto;
	border: none;
	border-radius: 12px;
	color: #212120;
	background: #c2ff5d;
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 800;
	font-style: italic;
	line-height: 19px;
	cursor: pointer;
	text-transform: uppercase;
}
