.container {
	margin: 0 auto;
	padding-left: 24px;
	padding-right: 24px;
	width: 100%;
}

.pb24 {
	padding-bottom: 24px;
}

.workout {
	font-family: 'Retni Sans';
	font-style: normal;
	color: var(--color-black);

	&__content {
		border: 1px solid var(--color-gray-light, #e0e0e5);
		border-radius: 12px;
		overflow: hidden;
	}

	&__header {
		background-color: var(--color-black);
		display: flex;
		margin-bottom: 8px;

		justify-content: space-between;
		min-height: 120px;
	}

	&__titlewrap {
		padding-left: 16px;
		padding-bottom: 16px;
		display: flex;
		align-content: flex-end;
		flex-wrap: wrap;
	}

	&__title {
		color: var(--color-light-text);
		font-family: 'Finlandica';
		font-size: 16px;
		font-style: italic;
		font-weight: 700;
		line-height: 1;
		letter-spacing: 0.64px;
		text-transform: uppercase;
		text-align: left;
	}

	&__bg {
		height: 120px;
	}

	&__bgimg {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__btns {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 16px;
		border: none;
		background: transparent;
		cursor: pointer;
		padding-top: 8px;
		padding-bottom: 8px;
		margin-left: 16px;
		margin-right: 16px;
		position: relative;
	}

	&__item::after {
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background-color: var(--color-gray, #d9d9d9);
		border-radius: 1px;
		position: absolute;
		left: 0;
		bottom: 0;
	}

	&__item:last-child::after {
		display: none;
	}

	&__imgwrap {
		flex-basis: 80px;
		height: 80px;
		border-radius: 8px;
		overflow: hidden;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__text {
		color: var(--color-blackk, #212120);
		font-family: 'Retni Sans';
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 105%;
	}

	&__btncaption {
		flex: 1 1 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
