.register-header {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	gap: 4px;
}

.register-header__logo {
	text-align: left;
	color: #141516;
	line-height: 21px;
	margin: 8px 8px 0;
	padding: 20px 20px 12px;
	background-color: var(--color-white);
	border-radius: 0 0 12px 12px;
	font-family: 'Open Sans', serif;
	font-style: italic;
	font-weight: 800;
	font-size: 26px;
	text-align: left;
	line-height: 40px;
	text-transform: uppercase;
}

.register-header__title {
	text-align: left;
	color: #141516;
	line-height: 21px;
	margin: 4px 8px 0;
	padding: 12px 20px;
	background-color: #fff;
	border-radius: 12px;
	font-family: 'Open Sans';
	font-size: 20px;
	font-style: italic;
	font-weight: 800;
	text-transform: uppercase;
}
