body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		'Open Sans', 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: black;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

html::-webkit-scrollbar {
	width: 10px;
}
html::-webkit-scrollbar-thumb {
	background-color: #c2ff5d;
	border-radius: 4px;
	width: 5px;
}

#root {
	width: 100%;
	background-color: black;
	min-height: 100vh;
}

@import url(./styles/fonts/fonts.css);
@import url(./styles/normalize.css);
@import url(./styles/variable.css);
