.profile {
	padding-top: 192px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding-bottom: 132px;

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--color-gray-light);
		border-radius: 12px;
		padding-top: 84px;
		padding-bottom: 16px;
	}

	&__avatar {
		width: 124px;
		height: 124px;
		border-radius: 50%;
		align-self: center;
		align-items: center;
	}

	&__avatarbox {
		width: 124px;
		height: 124px;
		background-color: var(--color-black);
		display: flex;
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		align-self: center;
		margin-top: -150px;
	}

	&__letter {
		color: var(--color-light-bg);
		font-family: 'Retni Sans';
		font-size: 50px;
		font-weight: 700;
		line-height: 100%; /* 50px */
		letter-spacing: -0.5px;
	}

	&__name {
		color: var(--color-black);
		font-family: 'Finlandica';
		font-size: 32px;
		font-style: italic;
		font-weight: 700;
		line-height: 105%;
		text-transform: uppercase;
		padding-top: 24px;
		padding-bottom: 8px;
	}

	&__email {
		color: var(--color-black);
		font-family: 'Retni Sans';
		font-size: 16px;
		font-weight: 500;
		line-height: 105%; /* 16.8px */
	}

	&__btn {
		display: flex;
		gap: 8px;
		align-items: center;
		border: none;
		background: transparent;
		cursor: pointer;
		padding-top: 65px;
		color: var(--color-dark-grey);
		font-family: 'Retni Sans';
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: 105%; /* 14.7px */
	}
}
