.logo {
	margin: 0;
	padding: 0;
	color: var(--color-black, #212120);
	text-align: center;
	font-family: 'Finlandica', serif;
	font-size: 32px;
	font-style: italic;
	font-weight: 700;
	line-height: 105%; /* 33.6px */
	text-transform: uppercase;
	cursor: pointer;
}
