.footer {
	width: calc(100% - 8px);
	background-color: #fff;
	border-radius: 12px;
	margin: 0 auto 8px;
}

.footer__text {
	text-align: center;
	color: #000;
	font-family: 'Manrope';
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin: 0;
	padding: 28px 20px;
}
.footer__span {
	color: #2349ff;
	cursor: pointer;
}
