.container {
	margin: 0 auto;
	padding-left: 24px;
	padding-right: 24px;
	width: 100%;
}

.pb24 {
	padding-bottom: 24px;
}

.activity {
	font-family: 'Retni Sans';
	font-style: normal;
	color: var(--color-black);
	&__content {
		border: 1px solid var(--new-gray-light, #e0e0e5);
		border-radius: 12px;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		padding-top: 16px;
		padding-right: 16px;
		padding-bottom: 19px;
		padding-left: 16px;
	}
	&__header {
		font-size: 16px;
		line-height: 105%;
		font-weight: 500;
		padding-bottom: 12px;
	}

	&__info {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	&__item {
		padding-left: 16px;
		padding-bottom: 4px;
		border-left: 2px solid var(--new-txt-black, #212120);
	}

	&__item:first-of-type {
		padding-left: 0px;
		border-left: none;
	}

	&__subtitle {
		font-size: 12px;
		line-height: 105%;
		font-weight: 500;
		padding-bottom: 8px;
	}

	&__data {
		font-size: 16px;
		font-weight: 500;
		line-height: 105%;
	}

	&__number {
		font-size: 24px;
		font-weight: 500;
		line-height: 105%; /* 25.2px */
	}
}
