.modal {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
}

.modal__container {
	color: #fff;
	max-width: 495px;
	min-width: 329px;
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	touch-action: none;
}

.modal_opened {
	display: flex;
	visibility: visible;
	opacity: 1;
	transition:
		visibility 0s,
		opacity 0.5s ease-in;
	z-index: 1;
}

.modal__title {
	margin: 0;
	font-family: Inter;
	font-style: normal;
	line-height: 130%;
	letter-spacing: 0.56px;
}

.modal__btns {
	display: flex;
	gap: 30px;
}

.modal__confirm-btn {
	all: initial;
	display: flex;
	margin: 0;
	width: 44px;
	height: 44px;
	cursor: pointer;
	transition: opacity 0.5s ease-in-out;
}

.modal__btn-img {
	object-fit: none;
}

.modal__confirm-btn:hover {
	opacity: 0.5;
}
