.trainRemainder {
	width: 100%;
	box-sizing: border-box;
	background-color: var(--color-green);
	border-radius: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 20px;
	padding-right: 20px;
}

.trainremainder__title {
	margin: 0;
	padding: 0;
	text-align: left;
	color: var(--color-black);
	line-height: 1.05;
	font-family: 'Open Sans';
	font-size: 20px;
	font-style: italic;
	font-weight: 800;
	text-transform: uppercase;
}

.trainRemainder__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 12px;
}

.trainREmainder__item {
	display: flex;
	align-items: center;
}

.trainRemainder__text {
	color: var(--color-black);
	font-family: 'Open Sans', serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: -0.16px;
}
